body {
    text-align: center;
    font-family: "Happy Monkey", system-ui;
    background: #a2d2ff;
    color: #ffffff;
    text-shadow: 0px 0px 1px black ;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#a2d2ff, #EFB0C9);
}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #EFB0C9;

}

#bday-age {
    background: #EFB0C9;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0px;
    background: #EFB0C9;
    border-radius: 5px;
    padding: 5px 10px;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}



.gift-img {
    margin: 0 auto;
    background-image: url(images/gift-cover.jpg);
    height: 400px;
    width: 400px;
    text-align: center;
    border-radius: 10px;
    border: 6px solid white;
    background-size: cover;

}

#gift-img-happy:hover {
    background-image: url("images/happy.gif");
}

#gift-img-hot:hover {
    background-image: url("images/hot.gif");
}

#gift-img-genius:hover {
    background-image: url("images/genius.gif");
}

#gift-img-badass:hover {
    background-image: url("images/badass.gif");
}

#gift-img-cheers:hover {
    background-image: url("images/cheers.gif");
    
}

#gift-img-cheers {
height: 200px;
}

p {
    width: 400px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-style: italic;
    text-align: center;
    color: white;
    
}

a {
    color: white
}